<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Usuario</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Editar Usuario</h1>
		
		<form th:action="@{/usuarios/save}" method="post">
		<input type="hidden" name="id" th:value="${usuario.id}">
		
			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Nombre</label> <input type="text" class="form-control"
					id="formGroupExampleInput" name="nombre" th:value="${usuario.nombre}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Apellido</label> <input type="text" class="form-control"
					id="formGroupExampleInput2" name="apellido" th:value="${usuario.apellido}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Correo</label> <input type="text" class="form-control"
					id="formGroupExampleInput2" name="correo" th:value="${usuario.correo}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Teléfono</label> <input type="text" class="form-control"
					id="formGroupExampleInput2" name="telefono" th:value="${usuario.telefono}">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Contraseña</label> <input type="text" class="form-control"
					id="formGroupExampleInput2" name="contrasenia" th:value="${usuario.contrasenia}">
			</div>
			
			<button type="submit" class="btn btn-success">Editar</button>
		</form>
	</div>
</body>
</html>